docker {
    enabled = true
}
process{
    container = 'bioinformatist/lncpipe:release-add-gffcompare'
}

params {
// input file and genome reference
    fastq_ext = '*_{1,2}.clean.fq.gz'
    fasta_ref = '/data/database/hg38/genome.fa'
    aligner = "hisat" // or "hisat","tophat"
    design = 'design.file'
//star index
    star_idex = '/data/database/human/hg38/chr2/hg38_chr2_starIndex'
//bowtie index for test
    bowtie2_index = ''
//hisat2 index for analysis
    hisat2_index = '/data/database/hg38/hisatIndex/grch38_snp_tran/genome_snp_tran'

//Annotation files
    gencode_annotation_gtf = "/data/database/hg38/Annotation/gencode.v24.annotation.gtf"
    lncipedia_gtf = "/data/database/hg38/Annotation/lncipedia_4_0_hg38.gtf"
    rRNAmask = "/data/database/hg38/Annotation/hg38_rRNA.gtf"
    sam_processor="sambamba"
// software path
    qctools = "fastqc" // or "afterqc"


//LncPipeReporter parameters
    lncRep_Output = 'reporter.html'
    lncRep_theme = 'npg'
    lncRep_cdf_percent = 10
    lncRep_max_lnc_len = 10000
    lncRep_min_expressed_sample = 50

    //other options
    //sequencing strategy
    singleEnd = false
    //skip options
    skip_combine = false

}


manifest {
    homePage = 'https//github.com/likelet/LncPipe'
    description = 'LncPipe:a Nextflow-based Long non-coding RNA analysis PIPELINE'
    mainScript = 'LncRNAanalysisPipe.nf'
}


timeline {
    enabled: true
    file: "timeline.html"
}