

params {
/*
    User setting options (mandatory)
     */
// input file and genome reference()
    fastq_ext = '*_{1,2}.clean.fq.gz'
    fasta_ref = '/data/database/hg38/genome.fa'
    design = 'design.file'
    hisat2_index = '/data/database/hg38/hisatIndex/grch38_snp_tran/genome_snp_tran'
    gencode_annotation_gtf = "/data/database/hg38/Annotation/gencode.v24.annotation.gtf"
    lncipedia_gtf = "/data/database/hg38/Annotation/lncipedia_4_0_hg38.gtf"

/*
    User setting options (optional)
     */
    star_idex = ''//set if star used
    bowtie2_index = ''//set if tophat used
    aligner = "hisat" // or "star","tophat"
    sam_processor="sambamba"//or "samtools"
    qctools = "fastqc" // or "afterqc"
    singleEnd = false
    strand = false
    skip_combine = false
    lncRep_Output = 'reporter.html'
    lncRep_theme = 'npg'
    lncRep_cdf_percent = 10
    lncRep_max_lnc_len = 10000
    lncRep_min_expressed_sample = 50
    mem=60//Gb
    cpu=30

/*
Don't modified
*/
    cpatpath ='/opt/CPAT-1.2.3'


}

/*
Don't modified
*/
// Docker options
docker.runOptions = '-u $(id -u):$(id -g)'
docker {
    enabled = true
}
process{
    container = 'bioinformatist/lncpipe:release-fix-fucking-CPAT'
}


manifest {
    homePage = 'https//github.com/likelet/LncPipe'
    description = 'LncPipe:a Nextflow-based Long non-coding RNA analysis PIPELINE'
    mainScript = 'LncRNAanalysisPipe.nf'
}


timeline {
    enabled: true
    file: "timeline.html"
}