

params {
/*
    User setting options (mandatory)
     */
// input file and genome reference()
    fastq_ext = '*_{1,2}.fq.gz'
    fasta_ref = '/data1/zhaoqi/nextflow/chrX/chrX.fa'
    design = 'design.file'
    hisat2_index = '/data1/zhaoqi/nextflow/chrX/hisat2/chrX'
    gencode_annotation_gtf = "/data1/zhaoqi/nextflow/chrX/gencode.v24.annotation_chrX.gtf"
    lncipedia_gtf = "/data1/zhaoqi/nextflow/chrX/lncipedia_4_0_hg38_chrX.gtf"

/*
    User setting options (optional)
     */
    star_idex = ''//set if star used
    bowtie2_index = ''//set if tophat used
    aligner = "hisat" // or "star","tophat"
    sam_processor="sambamba"//or "samtools"
    qctools = "fastqc" // or "afterqc"
    singleEnd = false
    unstrand = false
    skip_combine = false
    lncRep_Output = 'reporter.html'
    lncRep_theme = 'npg'
    lncRep_cdf_percent = 10
    lncRep_max_lnc_len = 10000
    lncRep_min_expressed_sample = 50
    mem=60//Gb
    cpu=30

/*
Don't modify
*/
    cpatpath ='/opt/CPAT-1.2.3'


}

/*
Don't modify either
*/
// Docker options
docker.runOptions = '-u $(id -u):$(id -g)'
docker.enabled = true
process.container = 'bioinformatist/lncpipe:release-latest'

manifest {
    homePage = 'https//github.com/likelet/LncPipe'
    description = 'LncPipe:a Nextflow-based Long non-coding RNA analysis PIPELINE'
    mainScript = 'LncRNAanalysisPipe.nf'
}

