params {
// input file and genome reference
    fastq_ext = '*_{1,2}.fq.gz'
    fasta_ref = '/data/database/human/hg38/chrX/chrX.fa'
    aligner = "hisat" // or "hisat","tophat"
    design = './design.file'
//star index
    star_idex = ''
//bowtie index for test
    bowtie2_index = ''
//hisat2 index for analysis
    hisat2_index = '/data/database/human/hg38/chrX/hisat2/chrX'

//Annotation files
    gencode_annotation_gtf = "/data/database/human/hg38/chrX/gencode.v24.annotation_chrX.gtf"
    lncipedia_gtf = "/data/database/human/hg38/chrX/lncipedia_4_0_hg38_chrX.gtf"
    rRNAmask = "/data/database/human/hg38/annotation/hg38_rRNA.gtf"
// software path
    plekpath = '/home/zhaoqi/software/PLEK.1.2/'
    cncipath = '/data/software/CNCI-master'
    cpatpath = '/home/zhaoqi/software/CPAT/CPAT-1.2.2/'
    afterqc_path="/data/software/afterQC/AfterQC-master/"
        sam_processor="sambamba" // If aligner is hisat, we need process sam file for downstream analysis. alternative "samtools"
    qctools = "fastqc" // or "afterqc"


//LncPipeReporter parameters
    lncRep_Output = 'reporter.html'
    lncRep_theme = 'npg'
    lncRep_cdf_percent = 10
    lncRep_max_lnc_len = 10000
    lncRep_min_expressed_sample = 50// gene with more than 50% samples expressed were retained

    //other option
    //sequencing strategy
    singleEnd = false
    //strand specific parameter
    unstrand = false
    //skip options
    skip_combine = false

    cpu=20
    mem=60 //60G

}

//configure process separately
/*
process {
    cpus = 40
    memory = 60

    errorStrategy = { task.exitStatus == 143 ? 'retry' : 'finish' }
    maxRetries = 2
    maxErrors = '-1'

    // Process-specific resource requirements
//step 1
    $Run_afterQC {
        cpus =  1
        memory =20.GB
        //maxForks 6
    }
    $Run_fastQC {
        cpus =  10
        memory =  20.GB
       // maxForks 6
    }
//step 2
    $fastq_star_alignment_For_discovery {
        cpus = 10
        memory =  40.GB
        //maxForks 3
    }
    $fastq_tophat_alignment_For_discovery {
        cpus =  10
        memory =  40.GB
        //maxForks 3
    }
    $fastq_hisat2_alignment_For_discovery {
        cpus =20
        memory =10.GB
        //maxForks 6
    }
// step 3
    $Cufflinks_assembly {}
//
    $cuffmerge_assembled_gtf {}
//
    $Merge_assembled_gtf_with_GENCODE {}
//
    $Identify_novel_lncRNA_with_criterions {}
 //
    $Predict_coding_abbilities_by_PLEK {}
//
    $Predict_coding_abbilities_by_CPAT {}
//
    $Filter_lncRNA_by_coding_potential_result {}
//
    $Summary_renaming_and_classification {}
//
    $Rerun_CPAT_to_evaluate_lncRNA {}
//
    $Rerun_CPAT_to_evaluate_coding {}
//
    $Build_kallisto_index_of_GTF_for_quantification {}
//
    $Run_kallisto_for_quantification {}
//
    $Get_kallisto_matrix {}
//
    $Run_LncPipeReporter {}
}
*/

manifest {
    homePage = 'https//github.com/likelet/LncPipe'
    description = 'LncPipe:a Nextflow-based Long non-coding RNA analysis PIPELINE'
    mainScript = 'LncRNAanalysisPipe.nf'
}


timeline {
    enabled: true
    file: "timeline.html"
}