params {
// input file and genome reference
    fastq_ext = '*_{1,2}.clean.fq.gz'
    fasta_ref = '/data/database/human/hg38/genome.fa'

//star index
    star_idex = '/data/database/human/hg38/RSEM_STAR_Index'
//bowtie index for test
    bowtie2_index = '/data/database/human/hg19/Bowtie2Index/genome'
//hisat2 index for analysis
    hisat2_index = '/data/database/human/hg19/hisat2Index/genome'

//Annotation files
    gencode_annotation_gtf = "/data/database/human/hg38/annotation/gencode.v24.annotation.gtf"
    lncipedia_gtf = "/data/database/human/hg38/annotation/lncipedia_4_0_hg38.gtf"
    rRNAmask = "/data/database/human/hg38/annotation/hg38_rRNA.gtf"
// software path
    plekpath = '/home/zhaoqi/software/PLEK.1.2/'
    cncipath = '/data/software/CNCI-master'
    cpatpath = '/home/zhaoqi/software/CPAT/CPAT-1.2.2/'


    aligner = "star"
        sam_processor="sambamba" // If aligner is hisat, we need process sam file for downstream analysis
    qctools = "afterqc"
        afterqc_path="/data/software/afterQC/AfterQC-master/"



    //other options
    //sequencing strategy
    singleEnd = false
    //skip options
    skip_combine = false

    //resource information
    mem = 50
    cpu = 40
}

manifest {
    homePage = 'https//github.com/likelet/LncPipe'
    description = 'LncPipe:a Nextflow-based Long non-coding RNA analysis PIPELINE'
    mainScript = 'LncRNAanalysisPipe.nf'
}


timeline {
    enabled: true
    file: "timeline.html"
}