
params {
/*
    User setting options (mandatory)
*/

// input file and genome reference()

//    fastq_ext = '*_{1,2}.fq.gz'

    fastq_ext = '*_pass_{1,2}.fastq.gz'
    fasta_ref = '$HOME/kmorris/Group/ref/gencode/GRCh38.p10.genome.fa'

    //
    //human gtf only
    gencode_annotation_gtf = "$HOME/kmorris/Group/ref/gencode/gencode.v28.annotation.gtf"
    lncipedia_gtf = "$HOME/kmorris/Group/ref/lncpedia/lncipedia_5_2_hc_hg38.gtf" // set "null" if you are going to perform analysis on other species

/*
    User setting options (optional)
*/
  // tools setting
     aligner = "hisat" // or "star","tophat"
     hisat_strand = 'RF'
     hisat2_index = '$HOME/kmorris/Group/ref/gencode/HISAT2Index/genome_snp_tran'

     // star_index = '$HOME/kmorris/Group/ref/gencode/STARIndex'
     // bowtie2_index = ''//set if tophat used
    sam_processor="sambamba"//or "samtools(deprecated)"
    qctools ="fastp"  // or "afterqc","fastp","fastqc","none" to skip qc step
    detools = "edger"//or "deseq2"
    quant = "kallisto"// or 'htseq'
    //other setting
    singleEnd = false
    unstrand = true
    skip_combine = false
    lncRep_Output = 'reporter.html'
    lncRep_theme = 'npg'
    lncRep_cdf_percent = 10
    lncRep_max_lnc_len = 10000
    lncRep_min_expressed_sample = 50
    mem = 240
    cpu = 20
 /*
    for non-human setting
 */
    species="human"// mouse , zebrafish, fly
    known_coding_gtf=""
    known_lncRNA_gtf=""


/*
Don't modify
*/
cpatpath ='/opt/CPAT-1.2.3'


}

/*
Don't modify either
*/
// Singularity options

singularity.enabled = true
process.container = '$HOME/.singularity/lncpipe_rebuild-2018-10-19-ce1bc156744d.simg'
singularity.autoMounts = true


manifest {
    homePage = 'https//github.com/likelet/LncPipe'
    description = 'LncPipe:a Nextflow-based Long non-coding RNA analysis PIPELINE'
    mainScript = 'LncRNAanalysisPipe.nf'
}

includeConfig 'base.config'
