manifest {
    homePage = 'https//github.com/likelet/LncPipe'
    description = 'LncPipe:a Nextflow-based Long non-coding RNA analysis PIPELINE'
    mainScript = 'LncRNAanalysisPipe.nf'
}

// individual process setting
process.cache = 'deep'
process {

  container = params.container

  cpus = { check_max( 8, 'cpus' ) }
  memory = { check_max( 20.GB * task.attempt, 'memory' ) }
  time = { check_max( 240.h * task.attempt, 'time' ) }

  errorStrategy = { task.exitStatus in [143,137] ? 'retry' : 'terminate' }
  maxRetries = 1
  maxErrors = '-1'
  maxForks = 6


    withLabel: para {
        maxForks = 6
    }

    withLabel: 'qc' {
        maxForks = 6
    }

}
