/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/lncpipe -profile test
 */

params {
  max_cpus = 2
  max_memory = 6.GB
  max_time = 48.h
  // Input data
  /*
    User setting options (mandatory)
     */
// input file and genome reference()
  fastq_ext = 'Fastq/*_{1,2}.fq.gz'
  fasta_ref = './Genome/chrX.fa'
  design = 'design.file'
  hisat2_index = "./Genome/hisat2Index/chrX"
  gencode_annotation_gtf = "Genome/gencode.v25.annotation.chrX.gtf"
  lncipedia_gtf = "./Genome/lncipedia_4_0.chrX.gtf"

/*
    User setting options (optional)
     */
  // tools setting
  hisat_strand = 'RF'
  star_index = ''//set if star used
  bowtie2_index = ''//set if tophat used
  aligner = "hisat" // or "star","tophat"
  sam_processor="sambamba"//or "samtools(deprecated)"
  qctools ="fastp"  // or "afterqc","fastp","fastqc"
  detools = "edger"//or "deseq2","noiseq" not supported yet
  quant = "kallisto"// or 'htseq'

  //other setting
  singleEnd = false
  unstrand = false
  skip_combine = false
  lncRep_Output = 'reporter.html'
  lncRep_theme = 'npg'
  lncRep_cdf_percent = 10
  lncRep_max_lnc_len = 10000
  lncRep_min_expressed_sample = 50
  mem=60
  cpu=30

  species="human"
  known_coding_gtf=""
  known_lncRNA_gtf=""

/*
Don't modify
*/
  cpatpath ='/opt/CPAT-1.2.3'

}
