/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/lncpipe -profile test
 */

params {
  max_cpus = 2
  max_memory = 6.GB
  max_time = 48.h
  // Input data
  /*
    User setting options (mandatory)
     */
// input file and genome reference()
  reads = 'Fastq/*_{1,2}.fq.gz'
  fasta = './Genome/chrX.fa'
  design = 'design.file'
  hisat2_index = "./Genome/hisat2Index/chrX"
  gencode_annotation_gtf = "Genome/gencode.v25.annotation.chrX.gtf"
  lncipedia_gtf = "./Genome/lncipedia_4_0.chrX.gtf"

/*
    User setting options (optional)
     */

  //other setting


/*
Don't modify when using docker image
*/
  cpatpath ='/opt/CPAT-1.2.3'

}
